<div id="landing-container">
  <div class="landing-image-container">

    @if (viewPortService.isMobile()) {
      <img class="image-landing"
           src="assets/mabos-logo-small.webp"
           alt="landing page image" title="landing page image">
    } @else {
      <img class="image-landing"
           src="assets/mabos-logo.webp"
           alt="landing page image" title="landing page image">
    }
  </div>

  <div class="fancy-text">
    <h1>
      <span class="special-words">Start</span>
      <span>budgeting your life </span>
      <span class="special-words">now!</span>
    </h1>
  </div>

  <div class="center-features">
    <span class="down-text">plan it</span>
    <button class="subscribe-btn" mat-button color="primary" (click)="notImplemented()" aria-label="subscribe to buplana button">subscribe</button>
  </div>
</div>

